
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
UpgradeLog.XML
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
LightSpeedDomainService.zip
LightSpeedDomainService.sln
LightSpeedDomainservice.Tests/LightSpeedDomainservice.Tests.csproj
LightSpeedDomainservice.Tests/Properties/AssemblyInfo.cs
LightSpeedDomainService.vsmdi
LightSpeedDomainService/AzureConnectionStrategycs.cs
Local.testsettings
LSDomainServiceTests/DomainService.cs
LightSpeedDomainService/LightSpeedDomainService.old.cs
LSDomainServiceTests/LSDomainServiceTests.csproj
LSDomainServiceTests/Properties/AssemblyInfo.cs
TraceAndTestImpact.testsettings